@font-face {
    font-family: "balqis";
    src: url("../fonts/balqis.woff2") format("woff2"),
    url("../fonts/balqis.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



*,  *::after, *::before {
    box-sizing: border-box;
}

html, body {
    font: 300 18px/21px "roboto", "Arial", sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 96px;
    line-height: 128px;
    font-family: "balqis";
    font-weight: 300;
    color: #e2ab3f;
    margin-bottom: 100px;
}

.title span {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-family: 'roboto';
    margin-top: -30px;
    margin-left: 185px;
    display: block;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.header__phone {
    padding-left: 40px;
    position: relative;
}

.header__phone::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url("../images/icon-phone.svg");
    left: 0;

}

.header__title {
    text-align: center;
    padding-top: 152px;
    font-size: 250px;
    line-height: 334px;
    font-family: "balqis";
    font-weight: 300;
}

.header__title span {
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: "roboto";
    font-style: italic;
    margin-top: -66px;
}



.menu__list-item {
    display: inline-block;
}

.menu__list-item:not(:last-child) {
    margin-right: 52px;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.fairy-tail__slider {
    width: 50%;
}

.fairy-tail__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__inner {
    position: relative;
}

.fairy-tail__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__body-title {
    font-weight: 400;
}

.fairy-tail__text {
    padding: 10px 0;
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    z-index: 5;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__inner {
    position: relative;
}

.our-trip__container {
    max-width: 1230px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.our-trip__title span {
    margin-left: 240px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    padding-right: 55px;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    font-weight: 400;
    margin-bottom: 20px;
}

.our-trip__btn {
    align-self: start;
    font-size: 24px;
    line-height: 28px;
    padding: 11px 53px;
    text-align: center;
    border: 1px solid #E2AB3F;
}

.hotel__title span {
    margin-left: 120px;
}

.hotel__inner {
    display: flex;
}

.hotel__images {
    margin-right: 100px;
}

.hotel__text {
    margin-bottom: 20px;
}

.hotel__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}

.price {
    background: url("../images/price-1.png") no-repeat 100% 50%;
}

.price__inner {
    display: flex;
}

.price__on {
    margin-right: 70px;
    width: 530px;
}

.price__on-title,
.price__off-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-weight: 400;
}

.price__list-item {
    margin-bottom: 20px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.contacts__date,
.contacts__price {
    font-family: "balqis";
    font-size: 96px;
    line-height: 100px;
    color: #E2AB3F;
    font-weight: 300;
}

.contacts__date span,
.contacts__price span {
    display: block;
    line-height: 28px;
    font-size: 24px;
    color: #000;
    font-family: "roboto";
    margin-top: -10px;
    margin-left: 205px;
}

.contacts__date {
    margin-bottom: 20px;
}

.contacts__price {
    margin-left: 120px;
}


.contacts__form {
    max-width: 383px;
    margin: 0 auto;

}

.contacts__form-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
}

.contacts__form-input {
    display: block;
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid #E2AB3F;
    padding: 0 30px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
}

.contacts__form-input::placeholder {
    color: #000;
}

.contacts__form-btn {
    font-family: "roboto";
    background-color: transparent;
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid #E2AB3F;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    padding: 11px 45px;
    cursor: pointer;
}
