.header {
    background: url(../img/header-bg.jpg) no-repeat 50% 100%;
    background-size: cover;
    height: 100vh;

    &__top {
        display: flex;
        font-size: 24px;
        font-weight: 400;
        justify-content: space-between;
        line-height: 28px;
        padding-top: 72px;
    }

    &__phone {
        padding-left: 40px;
        position: relative;
        color: inherit;
        text-decoration: none;

        &::before {
            content: "";
            position: absolute;
            height: 30px;
            width: 30px;
            background-image: url(../img/icon-phone.svg);
            left: 0;
        }
    }

    &__title {
        text-align: center;
        padding-top: 152px;
        font: 300 250px/334px $font-family-title;

        span {
            display: block;
            text-align: right;
            font: italic 56px/66px $font-family-base;
            margin-top: -66px;
        }
    }
}
