html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class] {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
input {
    overflow: visible;
}

textarea {
    resize: none;
    overflow: auto;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
